.*
!.gitignore
!.editorconfig
!.clang-format
cmake*
CMakeCache.txt
CMakeFiles
Makefile
obj-*-linux-gnu
debian/
/build/
/lib/blksnap/bin/
/tools/blksnap/bin/
/tests/cpp/bin/
/tests/test_*
/tests/veeam/
*.o
*.a
*.so
*.ko
sync.sh
