# SPDX-License-Identifier: GPL-2.0
#
# Block device snapshot module configuration
#

config BLK_SNAP
	tristate "Block Devices Snapshots Module (blksnap)"
	help
	  Allow to create snapshots and track block changes for block devices.
	  Designed for creating backups for simple block devices. Snapshots are
	  temporary and are released then backup is completed. Change block
	  tracking allows to create incremental or differential backups.
