Source: blksnap-dev
Section: devel
Priority: optional
Maintainer: Veeam Software Group GmbH <veeam_team@veeam.com>
Build-Depends: debhelper (>= 9.0.0), bash, g++, cmake, uuid-dev, libboost-filesystem-dev
Homepage: https://github.org/veeam/blksnap

Package: blksnap-dev
Architecture: linux-any
Depends: ${misc:Depends}
Description: blksnap - development package
 Blksnap provides the ability to create non-persistent snapshots on
 any block device and keep track of changed blocks.
 It make possible do consistent backup without having to configure (or remake)
 a system with restrictions in the filesystem choice or using LVM
 .
 This package contains the static library and header files for blksnap
