Source: blksnap
Section: admin
Priority: standard
Maintainer: Veeam Software Group GmbH <veeam_team@veeam.com>
Build-Depends: debhelper (>= 9.0.0),

Package: blksnap-dev
Architecture: all
Provides: blksnap-dev, blksnap-dev-#PACKAGE_VERSION#
Depends: ${misc:Depends}
Homepage: https://github.org/veeam/blksnap/
Description: [TBD] The static library and header files for managing the
        blksnap kernel module.
