Source: blksnap-dkms
Section: kernel
Priority: optional
Maintainer: Veeam Software Group GmbH <veeam_team@veeam.com>
Build-Depends: debhelper (>= 10.0.0), dh-dkms | dkms (<< 3.0.3-3~)
Homepage: https://github.org/veeam/blksnap
Testsuite: autopkgtest-pkg-dkms

Package: blksnap
Architecture: all
Depends: dkms, ${shlibs:Depends}, ${misc:Depends}
Conflicts: veeamsnap
Replaces: veeamsnap
Recommends: blksnap-tools
Suggests: blksnap-dev
Description: blksnap kernel module
 This kernel module implements non-persistent snapshots of block devices
 and changed block tracking functionality for backup.
 The module is developed by Veeam with the condition of simply adding it
 to the upstream.
 Therefore, the module is divided into two parts: bdevfilter and blksnap.
 bdevfilter provides the ability to intercept I/O units (bio).
 The main logic is concentrated in blksnap.
